.splash {
    height: 100vh; 
    position: relative;
    background-image: url('https://images.pexels.com/photos/938965/pexels-photo-938965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
        
    .splash-inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);        
        
        .splash-button {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%); 
        }
    }
}
.collapse {
    text-decoration: none;
}